[submodule "Spectro.Core/Spectro.Cross/libsoundio-sharp"]
	path = Spectro.Core/Spectro.Cross/libsoundio-sharp
	url = git@github.com:atsushieno/libsoundio-sharp.git
[submodule "Spectro/Spectro.Cross/libsoundio-sharp"]
	path = Spectro/Spectro.Cross/libsoundio-sharp
	url = git@github.com:atsushieno/libsoundio-sharp.git
